.background2{
    background-color: rgb(235, 153, 216);
}

.homeBtn{
    float: right;
    margin-top: 0.6em;
}

.container2{
    background-color: rgb(255, 245, 253);
}


button{
    font-size: 1.2rem;
}

.name{
    margin-top: 1em;
}