.background{
    background-color: rgb(252, 102, 217);
    width: 420px; 
    height: 670px;
}



.container2{
    background-color: rgb(255, 245, 253);
}


button{
    font-size: 1.2rem;
}

.name{
    margin-top: 1em;
}

