.qbackground{
    width: 100vw;
    height: 100vh;
    background: linear-gradient( #2341AA, #08102B);
    display: flex;
    justify-content: center;
    align-items: center;
}

.question{
    color: white;
    /* float: right; */
    text-align: center;  
}

.questionImg{
    width: 600px;
    height: 600px;
    /* background-color: aquamarine; */
    margin: 30px;
}

.questionTitle{
    width: 700px;
    height: auto;
    font-size: 40px;
    padding: 20px;
    border: solid white;
    border-left: 2px;
    border-right: 2px;
}

.qRadio{
    font-size: 35px;
    margin: 50px;
}


input[type='radio']{
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 5%;
}

input[type='radio']:checked {
    border: 3px solid #2341AA; 
    background-color: white;
    box-shadow: 0 0 0 2px white;
}

button{
    width: 100px;
    height: 40px;
    background-color: #fff;
}