.background{
    width: 100vw;
    height: 100vh;
    background: linear-gradient( #2341AA, #08102B);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.magicHat{
    background-image: url(/public/images/extra/magicHat.png);
    width: 850px;
    height: 700px;
}

.radioLabel {
    color: #726445;
    font-size: 40px;
    margin: 0 40px;
}

.radioLabel input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radioLabel::before {
    content: "";
}

.radioLabel input[type="radio"]:checked + span {
    color: #fff;
}
  
.questionTitle {
    font-size: 45px;
    text-align: center;
    /* margin-bottom: 20px; */
    width: 100%;
    height: auto;
    position: relative;
  }
  
  .nextButton {
    background-image: url(/public/images/button/nextBtn.png);
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 0;
    width: 100px;
    height: 100px;
  }