#background{
  width: 100vw;
  height: 100vh;
  /* text-align: center; */
  background: url(/public/images/title.png) no-repeat;
  background-size: cover;
  flex-direction: flex-end;
  position: absolute;
}

.btn{
  position: absolute;
  left: 3em;
  bottom: 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 5.5%;
}

.StartBtn{
    /* background-color: transparent;/ */
    background: url(/public/images/title_startBtn.png) no-repeat;
}
.EndingCntBtn{
  /* background-color: transparent;/ */
  background: url(/public/images/title_endingCntBtn.png) no-repeat;
}

.EndingCntBtn, .StartBtn{
  border: none;
  width: 40em;
  height: 7em;
}

@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.StartBtn:hover,
.EndingCntBtn:hover {
  animation: moveUp 0.3s ease forwards; 
}

.loading {
  width: 100vw;
  height: 100vh;
  background-color: rgb(255, 197, 250);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading img {
  position: absolute;
  bottom: 0;
  right: 0; 
  width: 40vw;
}

.loadingText {
  font-size: 60px;
}

.MusicBtn{
  width: 30px;
  position: relative;
  margin-right: 30px;
  margin-top: 30px;
}