body{
    background-color: black;
}

.kimyeoju{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    align-items: flex-end;
}

.kimyeojuImg{
    position: absolute;
    width: 600px;
    height: auto; 
    z-index: 1;
}

.dialogueWindow1{
    position: absolute;
    width: 1170px;
    height: auto;
    z-index: 2;
    right: 0;
}