body{
}

.kimyeoju{
    background-color: black;
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    align-items: flex-end;
}

.name{
    font-size: 50px;
    z-index: 5;
    margin-bottom: 22%;
    margin-left: 39.5%;
}

.kimyeojuImg{
    position: absolute;
    width: 40vw;
    height: auto; 
    z-index: 1;
}

.dialogueWindow1{
    position: absolute;
    width: 75vw;
    height: auto;
    z-index: 2;
    right: 0;
}