.container2{
    background-image: url(/public/images/background_img1.png);
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    align-items: flex-end;
    justify-content: center;
}

.silhouette{
    z-index: 2;
    position: absolute;
    
}

.selectImgDiv{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 5;
    position: absolute;
}

.selectImg{
    position: relative;
    z-index: 4;
    animation: fadeInLeft 1s;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

.selectButton{
    position: relative;
    z-index: 6;
    width: 500px;
    margin-bottom: 100px;
}

@keyframes moveUp {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  .selectButton:hover{
    animation: moveUp 0.3s ease forwards; 
  }