
.div1{
  width: 100vw;
  height: 100vh;
  /* text-align: center; */
  background: url(/public/images/title.png) no-repeat;
  background-size: cover;
  flex-direction: flex-end;
}

.btn{
  width: 500px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 5.5%;
}

.btn1{
    /* background-color: transparent;/ */
    background: url(/public/images/StartBtn.png) no-repeat;
    border: none;
    width: 460px;
    height: 140px;
}
.btn2{
  /* background-color: transparent;/ */
  background: url(/public/images/EndingCntBtn.png) no-repeat;
  border: none;
  width: 460px;
  height: 140px;
}
@keyframes moveUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}

.btn1:hover,
.btn2:hover {
  animation: moveUp 0.3s ease forwards; /* 호버 시 애니메이션 적용 */
}